<!-- Usage of the launch file: roslaunch sampler mission_F550.launch file:=mission_file.plan  -->

<launch>
    
    <!-- Declare the mission file as an argument -->
	<arg name="file" default="None"/>
	
    <!-- Start joy_node -->
    <!-- node pkg="joy" type="joy_node" name="joy_node"/ -->

    <include file="$(find sampler)/launch/waypoint_sender.launch">
    	<!-- Takes in the "file" as an argument and passes the value to the waypoint sender "mission_file" argument -->
	<arg name="mission_file" value="$(arg file)"/>
    </include>
    
    <include file="$(find sampler)/launch/sonar_sensor.launch"/>
    <include file="$(find sampler)/launch/EKF.launch"/>
    <include file="$(find sampler)/launch/px4.launch"/>

    
  <!-- Start recording the flight log data -->
  <node pkg="rosbag" type="record" name="flight_log_bagfile" output="screen"
      args="record -o $(find sampler)/flight_logs/f550_mission

/rosout
/rosout_agg

/mavros/battery
/mavros/global_position/global
/mavros/global_position/home
/mavros/global_position/local
/mavros/global_position/raw/satellites
/mavros/global_position/gp_origin
/mavros/global_position/set_gp_origin
/mavros/home_position/home
/mavros/imu/data
/mavros/local_position/pose
/mavros/rc/in
/mavros/state
/mavros/setpoint_raw/local
/mavros/setpoint_position/local
/joy
/mavros/local_position/odom
/mavros/distance_sensor/hrlv_ez4_pub
/mavros/altitude

/vrpn_client_node/F550/pose
/watersampling/sonar_dist
/watersampling/EKF_info

"
  />





</launch>
